@model IEnumerable<_2023_2C_F_Estacionamiento.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
 <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cuil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion.Calle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cuil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion.Calle)
                </td>
            <td>
                    <button type="button" class="boton-3d" onclick="location.href='@Url.Action("Edit", "Clientes", new { id = item.Id })'">Editar</button>
                    <button type="button" class="boton-3d" onclick="location.href='@Url.Action("Details", "Clientes", new { id = item.Id })'">Detalles</button>
                    <button type="button" class=" boton-3d" onclick="location.href='@Url.Action("Delete", "Clientes", new { id = item.Id })'">Eliminar</button>
                    <button type="button" class=" boton-3d" onclick="location.href='@Url.Action("Create", "ClienteVehiculos", new { ClienteId = item.Id })'">Asignar Vehiculo</button>
            </td>   
        </tr>
}
    </tbody>
</table>
